<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- Обязательные метатеги -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->

	<title>@ViewBag.Title - Учет успеваемости</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Главная", "Index", "Home")</li>
					<li>@Html.ActionLink("Студенты", "Students", "Home")</li>
					<li>@Html.ActionLink("Дисциплины", "Disciplines", "Home")</li>
					<li>@Html.ActionLink("Суммы баллов", "ViewSumScore", "Home")</li>
					<li>@Html.ActionLink("ТОП студентов", "StudentsTop", "Home")</li>
					@Html.Partial("_LoginPartial")
				</ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Учет успеваемости</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
